@use "./todoapp";
@use "./todo";
@use "./filter";

html {
  color-scheme: light only !important;
  background-color: #fff !important;
  color: #222;
}

body {
  min-width: 230px;
  max-width: 550px;
  margin: 0 auto;
  padding: 0;
  background-color: #fff !important;
  color: #222;
}

iframe {
  display: none;
}

.notification {
  transition-property: opacity, min-height;
  transition-duration: 1s;
  min-height: 36px;
}

.notification.hidden {
  min-height: 0;
  opacity: 0;
  pointer-events: none;
}
